apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 7
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: redis
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000

